#regiao{
     display: flex;
     flex-wrap: wrap;
     margin: 20px;
     padding: 20px;
     align-items: baseline;
 }
 
 img {
     width: 220px;
     height: 100px;
     margin: 10px;
 }

 p {
    margin: 10px;
 }

 footer{
     position: absolute; 
     bottom: 0; 
     left: 0; 
     z-index: 10;
 }