@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body {
     padding: 0;
     margin: 0;
 }

h1 {
     font-family: "Madimi One", sans-serif;
     font-weight: 400;
     font-style: normal;
     font-size: 100px;
     text-align: center;
 }

.menu ul {
     padding: 0;
     margin: 0;
     list-style: none;
     background-color: #009c3b;
     width: 100%;
     height: 100px;
     font: 150% Madimi One;
     text-align: center;
     display: inline-block;
 }

li {
     display: inline;
     padding: 10px;
     margin: 50px 100px 50px 100px;
     text-align: center;
     font: 100% Madimi One;
 }

.menu ul li a {
     background-color: #ffdf00;
     color: #002776;
     text-decoration: none;
     border-bottom: 8px solid #ffff;
     padding: 5px 10px;
 }

.menu ul li a:hover {
     background-color: #002776;
     color: #ffdf00;
     border-bottom: 8px solid #ffff;
 }